.jbp-importer-inner-wrapper {
  background: #FFF;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid $primary;
  h2 {
    color: $primary;
    font-size: 28px;
  }
  span {
    border: 1px solid $primary-lighter;
    border-radius: 4px;
    display: block;
    font-style: italic;
    line-height: 48px;
    color: #CCC;
    width: 50%;
    min-height: 48px;
    font-size: 20px;
    margin: 20px auto;
  }
  a + a {
    display: block;
    margin-left: 25px !important;
  }
  .button, button.button {
    box-shadow: none;
    border: 1px solid $primary !important;
    padding: 0 !important;
    width: 200px;
    transition: all 200ms ease-in-out;
    &:hover, &.active {
      background: $primary !important;
      color: #FFF !important;
      border: 1px solid $primary !important;
      transform: none !important;
    }
  }
}

.jbp-importer-outer-wrapper {
  opacity: 1;
  transition: all 200ms ease-in-out;
}