@import 'variables';
@import 'layout';
@import 'editor';
@import 'table';
@import 'importer';
@import 'dealer';

.is-visible {
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.is-hidden {
  opacity: 0;
  transition: all 200ms ease-in-out;
}

a, a:focus, a:active {
  outline: 0 !important;
  box-shadow: none !important;
}

.dashicons-before img {
  width: 20px;
  position: relative;
  top: -1px;
}

.jbp-title {
  display: block;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.jbp-block-title {
  @extend .jbp-title;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid $primary;
}

.jbp-module-title {
  @extend .jbp-title;
}

svg {
  transition: all 200ms ease-in-out;
  &.icon-title {
    width: 32px;
    height: 32px;
    position: relative;
    top: 5px;
    margin-right: 3px;
  }
}

.back-to-dashboard {
  color: $primary;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: $primary_light;
  }
}
.jbp-dashboard {
  width: 100%;
  height: auto;
  h3 {
    margin-bottom: 40px;
  }
  a {
    text-decoration: none;
  }
  ul {
    width: auto;
    li {
      display: inline-block;
      margin: 0 15px;
      background: #FFF;
      border-radius: 4px;
      border: 1px solid $primary_light;
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      svg {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        fill: $primary_light;
      }
      span {
        display: block;
        clear: both;
        font-weight: bold;
      }
    }
    a {
      color: $primary_light;
      display: block;
      padding: 30px 20px;
      &:hover {
        color: #2ba7b1;
        svg {
          fill: #2ba7b1;
        }
      }
    }
  }
}
.jbp-button {
  border: 1px solid #2ba7b1 !important;
  transition: all 200ms ease-in-out;
  &:hover {
    background: #2ba7b1 !important;
    color: #FFF !important;
    border: 1px solid #2ba7b1 !important;
  }
}